!!!
%html
  %head
    %title JackyGameChest || Tic Tac Toe
    = stylesheet_link_tag    "application", media: "all"
    = stylesheet_link_tag    "tic-tac-toe", media: "all"
    = javascript_include_tag "tic-tac-toe"
    = csrf_meta_tags
  %body
    = render "partials/header"
    = yield
