!!!
%html
  %head
    %title JackyGameChest || Tic Tac Toe
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    "tic-tac-toe", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "tic-tac-toe", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render "partials/header"
    = yield
